# CDE - Explore Endpoints

In [1]:
import os
import pandas as pd

import crime_helper as ch

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_colwidth', -1)

## Import Data

In [3]:
AGENCY = 'data/state.csv'
YEAR_SINCE = 2010
YEAR_UNTIL = 2011

In [4]:
agency_df = pd.read_csv(AGENCY)
agency_df.head()
agency_df.info()

,agency_name,agency_type_name,county_name,division_name,latitude,longitude,nibrs,nibrs_start_date,ori,region_desc,region_name,state_abbr,state_name
0,Anchorage Police Department,Municipality,ANCHORAGE,Pacific,61.174250,-149.284329,False,NaN,AK0010100,Region IV,West,AK,Alaska
1,Fairbanks Police Department,Borough,FAIRBANKS NORTH STAR,Pacific,64.839450,-147.719420,False,NaN,AK0010200,Region IV,West,AK,Alaska
2,Juneau Police Department,City and Borough,JUNEAU,Pacific,58.356556,-134.507310,False,NaN,AK0010300,Region IV,West,AK,Alaska
3,Ketchikan Police Department,Borough,KETCHIKAN GATEWAY,Pacific,55.449938,-131.106685,False,NaN,AK0010400,Region IV,West,AK,Alaska
4,Kodiak Police Department,Borough,KODIAK ISLAND,Pacific,57.804900,-152.373320,False,NaN,AK0010500,Region IV,West,AK,Alaska

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18459 entries, 0 to 18458
Data columns (total 13 columns):
agency_name         18459 non-null object
agency_type_name    18459 non-null object
county_name         18017 non-null object
division_name       18459 non-null object
latitude            17914 non-null float64
longitude           17914 non-null float64
nibrs               18459 non-null bool
nibrs_start_date    8545 non-null object
ori                 18459 non-null object
region_desc         18459 non-null object
region_name         18459 non-null object
state_abbr          18459 non-null object
state_name          18459 non-null object
dtypes: bool(1), float64(2), object(10)
memory usage: 1.7+ MB

In [19]:
random_ori = agency_df.loc[991, 'ori']
random_ori

'CA0101500'

In [15]:
config = {
    '{ori}': random_ori,
    '{since}': '2010',
    '{until}': '2010',
}
summary = ch.get_json(ch.SUMMARY, config)

In [17]:
summary

{'results': [{'ori': 'AL0050400',
   'data_year': 2010,
   'offense': 'aggravated-assault',
   'state_abbr': 'AL',
   'cleared': 0,
   'actual': 10},
  {'ori': 'AL0050400',
   'data_year': 2010,
   'offense': 'arson',
   'state_abbr': 'AL',
   'cleared': 0,
   'actual': 0},
  {'ori': 'AL0050400',
   'data_year': 2010,
   'offense': 'burglary',
   'state_abbr': 'AL',
   'cleared': 0,
   'actual': 28},
  {'ori': 'AL0050400',
   'data_year': 2010,
   'offense': 'homicide',
   'state_abbr': 'AL',
   'cleared': 0,
   'actual': 1},
  {'ori': 'AL0050400',
   'data_year': 2010,
   'offense': 'human-trafficing',
   'state_abbr': 'AL',
   'cleared': 0,
   'actual': 0},
  {'ori': 'AL0050400',
   'data_year': 2010,
   'offense': 'larceny',
   'state_abbr': 'AL',
   'cleared': 8,
   'actual': 428},
  {'ori': 'AL0050400',
   'data_year': 2010,
   'offense': 'motor-vehicle-theft',
   'state_abbr': 'AL',
   'cleared': 1,
   'actual': 13},
  {'ori': 'AL0050400',
   'data_year': 2010,
   'offense': 'property-crime',
   'state_abbr': 'AL',
   'cleared': 9,
   'actual': 469},
  {'ori': 'AL0050400',
   'data_year': 2010,
   'offense': 'rape',
   'state_abbr': 'AL',
   'cleared': 0,
   'actual': 0},
  {'ori': 'AL0050400',
   'data_year': 2010,
   'offense': 'rape-legacy',
   'state_abbr': 'AL',
   'cleared': 2,
   'actual': 9},
  {'ori': 'AL0050400',
   'data_year': 2010,
   'offense': 'robbery',
   'state_abbr': 'AL',
   'cleared': 0,
   'actual': 4},
  {'ori': 'AL0050400',
   'data_year': 2010,
   'offense': 'violent-crime',
   'state_abbr': 'AL',
   'cleared': 2,
   'actual': 24}],
 'pagination': {'count': 12, 'page': 0, 'pages': 1, 'per_page': 0}}

## Export to csv

In [7]:
save_path = r'data/file_clean.csv'
file_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e6, 2)} mb'

NameError: name 'file_df' is not defined