# CDE - Explore Endpoints

source: https://crime-data-explorer.fr.cloud.gov/api <br>

In [1]:
import os
import pandas as pd

import crime_helper as ch

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_colwidth', -1)

## Lookup Endpoints

In [3]:
agency_ls = ch.get_json(ch.LOOKUP_AGENCIES_LIST)
len(agency_ls)
agency_ls[0]

18459

{'ori': 'AK0010100',
 'agency_name': 'Anchorage Police Department',
 'agency_type_name': 'Municipality',
 'state_name': 'Alaska',
 'state_abbr': 'AK',
 'division_name': 'Pacific',
 'region_name': 'West',
 'region_desc': 'Region IV',
 'county_name': 'ANCHORAGE',
 'nibrs': False,
 'latitude': 61.17425,
 'longitude': -149.284329,
 'nibrs_start_date': None}

In [4]:
region_ls = ch.get_json(ch.LOOKUP_REGIONS)
len(region_ls)
region_ls[0]

{'count': 6, 'page': 0, 'pages': 1, 'per_page': 20}
page 0: len 6

6

{'region_code': 0,
 'region_name': 'U.S. Territories',
 'region_desc': 'U.S. Territories'}

In [5]:
state_ls = ch.get_json(ch.LOOKUP_STATES)
len(state_ls)
state_ls[0]

{'count': 58, 'page': 0, 'pages': 3, 'per_page': 20}
page 0: len 20
page 1: len 20
page 2: len 18

58

{'state_id': 1,
 'state_name': 'Alaska',
 'state_abbr': 'AK',
 'region_code': 4,
 'state_fips_code': 2}

## Export to csv

In [6]:
agency_df = pd.DataFrame(agency_ls)
agency_df.head()
agency_df.info()

,agency_name,agency_type_name,county_name,division_name,latitude,longitude,nibrs,nibrs_start_date,ori,region_desc,region_name,state_abbr,state_name
0,Anchorage Police Department,Municipality,ANCHORAGE,Pacific,61.174250,-149.284329,False,None,AK0010100,Region IV,West,AK,Alaska
1,Fairbanks Police Department,Borough,FAIRBANKS NORTH STAR,Pacific,64.839450,-147.719420,False,None,AK0010200,Region IV,West,AK,Alaska
2,Juneau Police Department,City and Borough,JUNEAU,Pacific,58.356556,-134.507310,False,None,AK0010300,Region IV,West,AK,Alaska
3,Ketchikan Police Department,Borough,KETCHIKAN GATEWAY,Pacific,55.449938,-131.106685,False,None,AK0010400,Region IV,West,AK,Alaska
4,Kodiak Police Department,Borough,KODIAK ISLAND,Pacific,57.804900,-152.373320,False,None,AK0010500,Region IV,West,AK,Alaska

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18459 entries, 0 to 18458
Data columns (total 13 columns):
agency_name         18459 non-null object
agency_type_name    18459 non-null object
county_name         18459 non-null object
division_name       18459 non-null object
latitude            17914 non-null float64
longitude           17914 non-null float64
nibrs               18459 non-null bool
nibrs_start_date    8545 non-null object
ori                 18459 non-null object
region_desc         18459 non-null object
region_name         18459 non-null object
state_abbr          18459 non-null object
state_name          18459 non-null object
dtypes: bool(1), float64(2), object(10)
memory usage: 1.7+ MB

In [7]:
save_path = r'data/agency.csv'
agency_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e6, 2)} mb'

'2.46 mb'

In [8]:
region_df = pd.DataFrame(region_ls)
region_df.head()
region_df.info()

   region_code       region_desc       region_name
0  0            U.S. Territories  U.S. Territories
1  1            Region I          Northeast
2  2            Region II         Midwest
3  3            Region III        South
4  4            Region IV         West

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
region_code    6 non-null int64
region_desc    6 non-null object
region_name    6 non-null object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [9]:
save_path = r'data/region.csv'
region_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e3, 2)} kb'

'0.16 kb'

In [10]:
state_df = pd.DataFrame(state_ls)
state_df.head()
state_df.info()

   region_code state_abbr  state_fips_code  state_id      state_name
0  4            AK         2.0              1         Alaska
1  3            AL         1.0              2         Alabama
2  3            AR         5.0              3         Arkansas
3  99           AS         60.0             4         American Samoa
4  4            AZ         4.0              5         Arizona

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 5 columns):
region_code        58 non-null int64
state_abbr         58 non-null object
state_fips_code    57 non-null float64
state_id           58 non-null int64
state_name         58 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 2.3+ KB

In [11]:
save_path = r'data/state.csv'
state_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e3, 2)} kb'

'1.37 kb'