# CDE - Explore Endpoints

In [1]:
import os
import pandas as pd

import crime_helper as ch

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_colwidth', -1)

## Import Data

In [3]:
# load the lookup data

STATE = 'data/state.csv'
OFFENSE_SHORT = 'data/offense_short.csv'
YEAR_SINCE = 2010
YEAR_UNTIL = 2011

In [4]:
state_df = pd.read_csv(STATE)
state_df.head()

   region_code state_abbr  state_fips_code  state_id      state_name
0  4            AK         2.0              1         Alaska
1  3            AL         1.0              2         Alabama
2  3            AR         5.0              3         Arkansas
3  99           AS         60.0             4         American Samoa
4  4            AZ         4.0              5         Arizona

In [5]:
offense_df = pd.read_csv(OFFENSE_SHORT)
offense_df.head()

          offense_type
0  aggravated-assault
1  burglary
2  larceny
3  motor-vehicle-theft
4  homicide

In [6]:
# examine data for a random row

random_state = state_df.loc[10]['state_abbr']
random_offense = offense_df.loc[4]['offense_type']
random_state
random_offense

'DE'

'homicide'

In [7]:
config = {
    '{offense}': random_offense,
    '{stateAbbr}': random_state,
}
offense = ch.get_json(ch.OFFENSE_STATE, config)

https://api.usa.gov/crime/fbi/sapi//api/nibrs/homicide/offense/states/DE/count

In [8]:
offense

{'ui_type': 'text',
 'noun': 'offense',
 'category': None,
 'title': 'Offense Count',
 'short_title': None,
 'ui_restriction': None,
 'keys': ['Incident Count', 'Offense Count'],
 'data': [{'value': 25,
   'data_year': 2001,
   'month_num': 0,
   'key': 'Incident Count'},
  {'value': 29, 'data_year': 2002, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 21, 'data_year': 2003, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 27, 'data_year': 2004, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 38, 'data_year': 2005, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 39, 'data_year': 2006, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 39, 'data_year': 2007, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 54, 'data_year': 2008, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 40, 'data_year': 2009, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 51, 'data_year': 2010, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 46, 'data_year': 2011, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 52, 'data_year': 2012, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 38, 'data_year': 2013, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 47, 'data_year': 2014, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 54, 'data_year': 2015, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 51, 'data_year': 2016, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 49, 'data_year': 2017, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 42, 'data_year': 2018, 'month_num': 0, 'key': 'Incident Count'},
  {'value': 29, 'data_year': 2001, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 30, 'data_year': 2002, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 21, 'data_year': 2003, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 28, 'data_year': 2004, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 41, 'data_year': 2005, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 42, 'data_year': 2006, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 39, 'data_year': 2007, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 57, 'data_year': 2008, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 41, 'data_year': 2009, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 51, 'data_year': 2010, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 48, 'data_year': 2011, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 56, 'data_year': 2012, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 41, 'data_year': 2013, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 48, 'data_year': 2014, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 56, 'data_year': 2015, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 53, 'data_year': 2016, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 51, 'data_year': 2017, 'month_num': 0, 'key': 'Offense Count'},
  {'value': 48, 'data_year': 2018, 'month_num': 0, 'key': 'Offense Count'}],
 'precise_data': []}

## Export to csv

In [9]:
save_path = r'data/file_clean.csv'
file_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e6, 2)} mb'

NameError: name 'file_df' is not defined