# Merge Endpoints

Workflow: 3 <br>
Goal: Merge the csv's output fromt he endpoint_ notebooks. <br>

In [1]:
import os
import pandas as pd

import crime_helper as ch

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_colwidth', -1)

## Load CSVs into DataFrames

In [3]:
ARREST_FILE = 'data/arrest_tkm_state.csv'
EMPLOYMENT_FILE = 'data/employment_state.csv'
OFFENDER_FILE = 'data/offender_tkm_state.csv'
OFFENSE_FILE = 'data/offense_tkm_state.csv'
VICTIM_FILE = 'data/victim_tkm_state.csv'

In [4]:
arrest_df = pd.read_csv(ARREST_FILE)
arrest_df = arrest_df.rename(columns={'count': 'arrests'})
arrest_df.head()
arrest_df.info()

  state  year  gender             offense  arrests
0  AK    2010  female  aggravated-assault  415
1  AK    2010  female  arson               11
2  AK    2010  female  burglary            78
3  AK    2010  female  curfew              3
4  AK    2010  female  disorderly-conduct  266

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24602 entries, 0 to 24601
Data columns (total 5 columns):
state      24602 non-null object
year       24602 non-null int64
gender     24602 non-null object
offense    24602 non-null object
arrests    24602 non-null int64
dtypes: int64(2), object(3)
memory usage: 961.1+ KB

In [5]:
employment_df = pd.read_csv(EMPLOYMENT_FILE)
employment_df.head()
employment_df.info()

,agency_ct,civilian_ct,year,female_civilian_ct,female_officer_ct,female_total_ct,male_civilian_ct,male_officer_ct,male_total_ct,pe_ct_per_1000,population,state_abbr,state_name,total_pe_ct
0,58,1304,2010,812,434,1246,492,3128,3620,5.32,915164,DE,Delaware,4866
1,56,1287,2011,795,424,1219,492,3054,3546,5.16,923759,DE,Delaware,4765
2,59,877,2012,558,328,886,319,2028,2347,3.46,934970,DE,Delaware,3233
3,66,898,2013,575,352,927,323,2125,2448,3.57,944369,DE,Delaware,3375
4,68,1316,2014,744,297,1041,572,2552,3124,4.36,954220,DE,Delaware,4165

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522 entries, 0 to 521
Data columns (total 14 columns):
agency_ct             522 non-null int64
civilian_ct           522 non-null int64
year                  522 non-null int64
female_civilian_ct    522 non-null int64
female_officer_ct     522 non-null int64
female_total_ct       522 non-null int64
male_civilian_ct      522 non-null int64
male_officer_ct       522 non-null int64
male_total_ct         522 non-null int64
pe_ct_per_1000        522 non-null float64
population            522 non-null int64
state_abbr            522 non-null object
state_name            522 non-null object
total_pe_ct           522 non-null int64
dtypes: float64(1), int64(11), object(2)
memory usage: 57.2+ KB

In [6]:
offender_df = pd.read_csv(OFFENDER_FILE)
offender_df.head()
offender_df.info()

  state  year gender             offense  offenders
0  AL    2010  Male   aggravated-assault  13
1  AL    2011  Male   aggravated-assault  11
2  AL    2012  Male   aggravated-assault  15
3  AL    2013  Male   aggravated-assault  21
4  AL    2014  Male   aggravated-assault  25

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10275 entries, 0 to 10274
Data columns (total 5 columns):
state        10275 non-null object
year         10275 non-null int64
gender       10275 non-null object
offense      10275 non-null object
offenders    10275 non-null int64
dtypes: int64(2), object(3)
memory usage: 401.4+ KB

In [10]:
offense_df = pd.read_csv(OFFENSE_FILE)
offense_df = offense_df.rename(columns={'count': 'offenses'})
offense_df.head()
offense_df.info()

  state  year             offense  offenses
0  AL    1991  aggravated-assault  21909
1  AL    1991  arson               92
2  AL    1991  burglary            47915
3  AL    1991  homicide            434
4  AL    1991  larceny             107142

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7323 entries, 0 to 7322
Data columns (total 4 columns):
state       7323 non-null object
year        7323 non-null int64
offense     7323 non-null object
offenses    7323 non-null int64
dtypes: int64(2), object(2)
memory usage: 228.9+ KB

In [11]:
victim_df = pd.read_csv(VICTIM_FILE)
victim_df = victim_df.rename(columns={'count': 'victims'})
victim_df.head()
victim_df.info()

  state  year             offense   gender  victims
0  AL    1991  aggravated-assault  Male     11230
1  AL    1991  aggravated-assault  Female   9592
2  AL    1991  aggravated-assault  Unknown  1087
3  AL    1991  arson               Male     32
4  AL    1991  arson               Female   26

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21969 entries, 0 to 21968
Data columns (total 5 columns):
state      21969 non-null object
year       21969 non-null int64
offense    21969 non-null object
gender     21969 non-null object
victims    21969 non-null int64
dtypes: int64(2), object(3)
memory usage: 858.2+ KB

## Merge DataFrames

In [9]:
merge_df =

SyntaxError: invalid syntax (<ipython-input-9-efea923646e7>, line 1)

In [ ]:
save_path = r'data/crime_data_full.csv'
merge_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e6, 2)} mb'