# Arrest TKM Endpoint

Workflow: 2 <br>
Goal: Create csv for arrest_tkm endpoint. <br>

In [1]:
import os
import pandas as pd

import crime_helper as ch

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_colwidth', -1)

## Import Lookups

In [3]:
OFFENSE_MEDIUM = 'data/lookup_offense_medium.csv'
STATE = 'data/lookup_state.csv'
YEAR_SINCE = '2000'
YEAR_UNTIL = '2018'

In [4]:
state_df = pd.read_csv(STATE)
state_df.head()
#state_df.info()

   region_code state_abbr  state_fips_code  state_id      state_name
0  4            AK         2.0              1         Alaska
1  3            AL         1.0              2         Alabama
2  3            AR         5.0              3         Arkansas
3  99           AS         60.0             4         American Samoa
4  4            AZ         4.0              5         Arizona

In [5]:
offense_df = pd.read_csv(OFFENSE_MEDIUM)
offense_df.head()

         offense_type
0  aggravated-assault
1  arson
2  burglary
3  curfew
4  disorderly-conduct

## Get API Data

In [6]:
# examine data for a random row

state_test = state_df.loc[25]['state_abbr']
offense_test = offense_df.loc[6]['offense_type']

state_test
offense_test

'MI'

'drug-grand-total'

In [7]:
config = {
    '{stateAbbr}': state_test,
    '{offense}': offense_test,
    '{variable}': 'male',   
    '{since}': YEAR_SINCE,
    '{until}': YEAR_UNTIL,
}
endpoint_test = ch.get_json(ch.ARREST_TKM_STATE_OFFENSE, config)
endpoint_test

{'ui_type': 'basic_table',
 'noun': 'Arrestee',
 'category': 'Arrestee demographic',
 'title': 'Male Arrests By Age',
 'short_title': 'age',
 'ui_restriction': None,
 'keys': ['10-12',
  '13-14',
  '15',
  '16',
  '17',
  '18',
  '19',
  '20',
  '21',
  '22',
  '23',
  '24',
  '25-29',
  '30-34',
  '35-39',
  '40-44',
  '45-49',
  '50-54',
  '55-59',
  '60-64',
  '65 and over',
  'Under 10'],
 'data': [{'value': 35, 'data_year': 2000, 'month_num': 0, 'key': '10-12'},
  {'value': 50, 'data_year': 2001, 'month_num': 0, 'key': '10-12'},
  {'value': 35, 'data_year': 2002, 'month_num': 0, 'key': '10-12'},
  {'value': 32, 'data_year': 2003, 'month_num': 0, 'key': '10-12'},
  {'value': 28, 'data_year': 2004, 'month_num': 0, 'key': '10-12'},
  {'value': 19, 'data_year': 2005, 'month_num': 0, 'key': '10-12'},
  {'value': 32, 'data_year': 2006, 'month_num': 0, 'key': '10-12'},
  {'value': 28, 'data_year': 2007, 'month_num': 0, 'key': '10-12'},
  {'value': 24, 'data_year': 2008, 'month_num': 0, 'key': '10-12'},
  {'value': 36, 'data_year': 2009, 'month_num': 0, 'key': '10-12'},
  {'value': 36, 'data_year': 2010, 'month_num': 0, 'key': '10-12'},
  {'value': 28, 'data_year': 2011, 'month_num': 0, 'key': '10-12'},
  {'value': 35, 'data_year': 2012, 'month_num': 0, 'key': '10-12'},
  {'value': 27, 'data_year': 2013, 'month_num': 0, 'key': '10-12'},
  {'value': 27, 'data_year': 2014, 'month_num': 0, 'key': '10-12'},
  {'value': 17, 'data_year': 2015, 'month_num': 0, 'key': '10-12'},
  {'value': 18, 'data_year': 2016, 'month_num': 0, 'key': '10-12'},
  {'value': 28, 'data_year': 2017, 'month_num': 0, 'key': '10-12'},
  {'value': 21, 'data_year': 2018, 'month_num': 0, 'key': '10-12'},
  {'value': 338, 'data_year': 2000, 'month_num': 0, 'key': '13-14'},
  {'value': 343, 'data_year': 2001, 'month_num': 0, 'key': '13-14'},
  {'value': 322, 'data_year': 2002, 'month_num': 0, 'key': '13-14'},
  {'value': 318, 'data_year': 2003, 'month_num': 0, 'key': '13-14'},
  {'value': 285, 'data_year': 2004, 'month_num': 0, 'key': '13-14'},
  {'value': 311, 'data_year': 2005, 'month_num': 0, 'key': '13-14'},
  {'value': 309, 'data_year': 2006, 'month_num': 0, 'key': '13-14'},
  {'value': 242, 'data_year': 2007, 'month_num': 0, 'key': '13-14'},
  {'value': 267, 'data_year': 2008, 'month_num': 0, 'key': '13-14'},
  {'value': 295, 'data_year': 2009, 'month_num': 0, 'key': '13-14'},
  {'value': 265, 'data_year': 2010, 'month_num': 0, 'key': '13-14'},
  {'value': 279, 'data_year': 2011, 'month_num': 0, 'key': '13-14'},
  {'value': 252, 'data_year': 2012, 'month_num': 0, 'key': '13-14'},
  {'value': 213, 'data_year': 2013, 'month_num': 0, 'key': '13-14'},
  {'value': 163, 'data_year': 2014, 'month_num': 0, 'key': '13-14'},
  {'value': 137, 'data_year': 2015, 'month_num': 0, 'key': '13-14'},
  {'value': 137, 'data_year': 2016, 'month_num': 0, 'key': '13-14'},
  {'value': 154, 'data_year': 2017, 'month_num': 0, 'key': '13-14'},
  {'value': 127, 'data_year': 2018, 'month_num': 0, 'key': '13-14'},
  {'value': 433, 'data_year': 2000, 'month_num': 0, 'key': '15'},
  {'value': 533, 'data_year': 2001, 'month_num': 0, 'key': '15'},
  {'value': 473, 'data_year': 2002, 'month_num': 0, 'key': '15'},
  {'value': 450, 'data_year': 2003, 'month_num': 0, 'key': '15'},
  {'value': 385, 'data_year': 2004, 'month_num': 0, 'key': '15'},
  {'value': 510, 'data_year': 2005, 'month_num': 0, 'key': '15'},
  {'value': 535, 'data_year': 2006, 'month_num': 0, 'key': '15'},
  {'value': 443, 'data_year': 2007, 'month_num': 0, 'key': '15'},
  {'value': 406, 'data_year': 2008, 'month_num': 0, 'key': '15'},
  {'value': 409, 'data_year': 2009, 'month_num': 0, 'key': '15'},
  {'value': 399, 'data_year': 2010, 'month_num': 0, 'key': '15'},
  {'value': 364, 'data_year': 2011, 'month_num': 0, 'key': '15'},
  {'value': 316, 'data_year': 2012, 'month_num': 0, 'key': '15'},
  {'value': 255, 'data_year': 2013, 'month_num': 0, 'key': '15'},
  {'value': 248, 'data_year': 2014, 'month_num': 0, 'key': '15'},
  {'value': 190, 'data_year': 2015, 'month_num': 0, 'key': '15'},
  {'value': 212, 'data_year': 2016, 'month_num': 0, 'key': '15'},
  {'value': 188, 'data_year': 2017, 'month_num': 0, 'key': '15'},
  {'value': 148, 'data_year': 2018, 'month_num': 0, 'key': '15'},
  {'value': 787, 'data_year': 2000, 'month_num': 0, 'key': '16'},
  {'value': 849, 'data_year': 2001, 'month_num': 0, 'key': '16'},
  {'value': 827, 'data_year': 2002, 'month_num': 0, 'key': '16'},
  {'value': 753, 'data_year': 2003, 'month_num': 0, 'key': '16'},
  {'value': 674, 'data_year': 2004, 'month_num': 0, 'key': '16'},
  {'value': 831, 'data_year': 2005, 'month_num': 0, 'key': '16'},
  {'value': 925, 'data_year': 2006, 'month_num': 0, 'key': '16'},
  {'value': 812, 'data_year': 2007, 'month_num': 0, 'key': '16'},
  {'value': 735, 'data_year': 2008, 'month_num': 0, 'key': '16'},
  {'value': 776, 'data_year': 2009, 'month_num': 0, 'key': '16'},
  {'value': 747, 'data_year': 2010, 'month_num': 0, 'key': '16'},
  {'value': 645, 'data_year': 2011, 'month_num': 0, 'key': '16'},
  {'value': 609, 'data_year': 2012, 'month_num': 0, 'key': '16'},
  {'value': 491, 'data_year': 2013, 'month_num': 0, 'key': '16'},
  {'value': 486, 'data_year': 2014, 'month_num': 0, 'key': '16'},
  {'value': 398, 'data_year': 2015, 'month_num': 0, 'key': '16'},
  {'value': 437, 'data_year': 2016, 'month_num': 0, 'key': '16'},
  {'value': 362, 'data_year': 2017, 'month_num': 0, 'key': '16'},
  {'value': 254, 'data_year': 2018, 'month_num': 0, 'key': '16'},
  {'value': 1886, 'data_year': 2000, 'month_num': 0, 'key': '17'},
  {'value': 1866, 'data_year': 2001, 'month_num': 0, 'key': '17'},
  {'value': 1788, 'data_year': 2002, 'month_num': 0, 'key': '17'},
  {'value': 1629, 'data_year': 2003, 'month_num': 0, 'key': '17'},
  {'value': 1580, 'data_year': 2004, 'month_num': 0, 'key': '17'},
  {'value': 1570, 'data_year': 2005, 'month_num': 0, 'key': '17'},
  {'value': 1725, 'data_year': 2006, 'month_num': 0, 'key': '17'},
  {'value': 1693, 'data_year': 2007, 'month_num': 0, 'key': '17'},
  {'value': 1545, 'data_year': 2008, 'month_num': 0, 'key': '17'},
  {'value': 1584, 'data_year': 2009, 'month_num': 0, 'key': '17'},
  {'value': 1383, 'data_year': 2010, 'month_num': 0, 'key': '17'},
  {'value': 1318, 'data_year': 2011, 'month_num': 0, 'key': '17'},
  {'value': 1183, 'data_year': 2012, 'month_num': 0, 'key': '17'},
  {'value': 1101, 'data_year': 2013, 'month_num': 0, 'key': '17'},
  {'value': 973, 'data_year': 2014, 'month_num': 0, 'key': '17'},
  {'value': 907, 'data_year': 2015, 'month_num': 0, 'key': '17'},
  {'value': 889, 'data_year': 2016, 'month_num': 0, 'key': '17'},
  {'value': 861, 'data_year': 2017, 'month_num': 0, 'key': '17'},
  {'value': 674, 'data_year': 2018, 'month_num': 0, 'key': '17'},
  {'value': 2343, 'data_year': 2000, 'month_num': 0, 'key': '18'},
  {'value': 2455, 'data_year': 2001, 'month_num': 0, 'key': '18'},
  {'value': 2212, 'data_year': 2002, 'month_num': 0, 'key': '18'},
  {'value': 2156, 'data_year': 2003, 'month_num': 0, 'key': '18'},
  {'value': 2032, 'data_year': 2004, 'month_num': 0, 'key': '18'},
  {'value': 2066, 'data_year': 2005, 'month_num': 0, 'key': '18'},
  {'value': 2218, 'data_year': 2006, 'month_num': 0, 'key': '18'},
  {'value': 2095, 'data_year': 2007, 'month_num': 0, 'key': '18'},
  {'value': 2110, 'data_year': 2008, 'month_num': 0, 'key': '18'},
  {'value': 2176, 'data_year': 2009, 'month_num': 0, 'key': '18'},
  {'value': 2192, 'data_year': 2010, 'month_num': 0, 'key': '18'},
  {'value': 1865, 'data_year': 2011, 'month_num': 0, 'key': '18'},
  {'value': 1835, 'data_year': 2012, 'month_num': 0, 'key': '18'},
  {'value': 1744, 'data_year': 2013, 'month_num': 0, 'key': '18'},
  {'value': 1586, 'data_year': 2014, 'month_num': 0, 'key': '18'},
  {'value': 1557, 'data_year': 2015, 'month_num': 0, 'key': '18'},
  {'value': 1541, 'data_year': 2016, 'month_num': 0, 'key': '18'},
  {'value': 1430, 'data_year': 2017, 'month_num': 0, 'key': '18'},
  {'value': 1001, 'data_year': 2018, 'month_num': 0, 'key': '18'},
  {'value': 2258, 'data_year': 2000, 'month_num': 0, 'key': '19'},
  {'value': 2326, 'data_year': 2001, 'month_num': 0, 'key': '19'},
  {'value': 2239, 'data_year': 2002, 'month_num': 0, 'key': '19'},
  {'value': 1934, 'data_year': 2003, 'month_num': 0, 'key': '19'},
  {'value': 1982, 'data_year': 2004, 'month_num': 0, 'key': '19'},
  {'value': 2003, 'data_year': 2005, 'month_num': 0, 'key': '19'},
  {'value': 2127, 'data_year': 2006, 'month_num': 0, 'key': '19'},
  {'value': 2024, 'data_year': 2007, 'month_num': 0, 'key': '19'},
  {'value': 2024, 'data_year': 2008, 'month_num': 0, 'key': '19'},
  {'value': 2200, 'data_year': 2009, 'month_num': 0, 'key': '19'},
  {'value': 2316, 'data_year': 2010, 'month_num': 0, 'key': '19'},
  {'value': 1947, 'data_year': 2011, 'month_num': 0, 'key': '19'},
  {'value': 1804, 'data_year': 2012, 'month_num': 0, 'key': '19'},
  {'value': 1820, 'data_year': 2013, 'month_num': 0, 'key': '19'},
  {'value': 1718, 'data_year': 2014, 'month_num': 0, 'key': '19'},
  {'value': 1644, 'data_year': 2015, 'month_num': 0, 'key': '19'},
  {'value': 1635, 'data_year': 2016, 'month_num': 0, 'key': '19'},
  {'value': 1333, 'data_year': 2017, 'month_num': 0, 'key': '19'},
  {'value': 1063, 'data_year': 2018, 'month_num': 0, 'key': '19'},
  {'value': 2060, 'data_year': 2000, 'month_num': 0, 'key': '20'},
  {'value': 2165, 'data_year': 2001, 'month_num': 0, 'key': '20'},
  {'value': 2014, 'data_year': 2002, 'month_num': 0, 'key': '20'},
  {'value': 1712, 'data_year': 2003, 'month_num': 0, 'key': '20'},
  {'value': 1694, 'data_year': 2004, 'month_num': 0, 'key': '20'},
  {'value': 1829, 'data_year': 2005, 'month_num': 0, 'key': '20'},
  {'value': 1846, 'data_year': 2006, 'month_num': 0, 'key': '20'},
  {'value': 1773, 'data_year': 2007, 'month_num': 0, 'key': '20'},
  {'value': 1704, 'data_year': 2008, 'month_num': 0, 'key': '20'},
  {'value': 1856, 'data_year': 2009, 'month_num': 0, 'key': '20'},
  {'value': 2037, 'data_year': 2010, 'month_num': 0, 'key': '20'},
  {'value': 1923, 'data_year': 2011, 'month_num': 0, 'key': '20'},
  {'value': 1711, 'data_year': 2012, 'month_num': 0, 'key': '20'},
  {'value': 1671, 'data_year': 2013, 'month_num': 0, 'key': '20'},
  {'value': 1628, 'data_year': 2014, 'month_num': 0, 'key': '20'},
  {'value': 1529, 'data_year': 2015, 'month_num': 0, 'key': '20'},
  {'value': 1619, 'data_year': 2016, 'month_num': 0, 'key': '20'},
  {'value': 1290, 'data_year': 2017, 'month_num': 0, 'key': '20'},
  {'value': 984, 'data_year': 2018, 'month_num': 0, 'key': '20'},
  {'value': 1709, 'data_year': 2000, 'month_num': 0, 'key': '21'},
  {'value': 1912, 'data_year': 2001, 'month_num': 0, 'key': '21'},
  {'value': 1800, 'data_year': 2002, 'month_num': 0, 'key': '21'},
  {'value': 1552, 'data_year': 2003, 'month_num': 0, 'key': '21'},
  {'value': 1432, 'data_year': 2004, 'month_num': 0, 'key': '21'},
  {'value': 1614, 'data_year': 2005, 'month_num': 0, 'key': '21'},
  {'value': 1583, 'data_year': 2006, 'month_num': 0, 'key': '21'},
  {'value': 1553, 'data_year': 2007, 'month_num': 0, 'key': '21'},
  {'value': 1510, 'data_year': 2008, 'month_num': 0, 'key': '21'},
  {'value': 1537, 'data_year': 2009, 'month_num': 0, 'key': '21'},
  {'value': 1646, 'data_year': 2010, 'month_num': 0, 'key': '21'},
  {'value': 1670, 'data_year': 2011, 'month_num': 0, 'key': '21'},
  {'value': 1596, 'data_year': 2012, 'month_num': 0, 'key': '21'},
  {'value': 1594, 'data_year': 2013, 'month_num': 0, 'key': '21'},
  {'value': 1392, 'data_year': 2014, 'month_num': 0, 'key': '21'},
  {'value': 1481, 'data_year': 2015, 'month_num': 0, 'key': '21'},
  {'value': 1478, 'data_year': 2016, 'month_num': 0, 'key': '21'},
  {'value': 1197, 'data_year': 2017, 'month_num': 0, 'key': '21'},
  {'value': 986, 'data_year': 2018, 'month_num': 0, 'key': '21'},
  {'value': 1459, 'data_year': 2000, 'month_num': 0, 'key': '22'},
  {'value': 1589, 'data_year': 2001, 'month_num': 0, 'key': '22'},
  {'value': 1514, 'data_year': 2002, 'month_num': 0, 'key': '22'},
  {'value': 1502, 'data_year': 2003, 'month_num': 0, 'key': '22'},
  {'value': 1319, 'data_year': 2004, 'month_num': 0, 'key': '22'},
  {'value': 1395, 'data_year': 2005, 'month_num': 0, 'key': '22'},
  {'value': 1428, 'data_year': 2006, 'month_num': 0, 'key': '22'},
  {'value': 1397, 'data_year': 2007, 'month_num': 0, 'key': '22'},
  {'value': 1342, 'data_year': 2008, 'month_num': 0, 'key': '22'},
  {'value': 1353, 'data_year': 2009, 'month_num': 0, 'key': '22'},
  {'value': 1471, 'data_year': 2010, 'month_num': 0, 'key': '22'},
  {'value': 1396, 'data_year': 2011, 'month_num': 0, 'key': '22'},
  {'value': 1509, 'data_year': 2012, 'month_num': 0, 'key': '22'},
  {'value': 1558, 'data_year': 2013, 'month_num': 0, 'key': '22'},
  {'value': 1547, 'data_year': 2014, 'month_num': 0, 'key': '22'},
  {'value': 1436, 'data_year': 2015, 'month_num': 0, 'key': '22'},
  {'value': 1450, 'data_year': 2016, 'month_num': 0, 'key': '22'},
  {'value': 1167, 'data_year': 2017, 'month_num': 0, 'key': '22'},
  {'value': 958, 'data_year': 2018, 'month_num': 0, 'key': '22'},
  {'value': 1273, 'data_year': 2000, 'month_num': 0, 'key': '23'},
  {'value': 1316, 'data_year': 2001, 'month_num': 0, 'key': '23'},
  {'value': 1405, 'data_year': 2002, 'month_num': 0, 'key': '23'},
  {'value': 1314, 'data_year': 2003, 'month_num': 0, 'key': '23'},
  {'value': 1188, 'data_year': 2004, 'month_num': 0, 'key': '23'},
  {'value': 1302, 'data_year': 2005, 'month_num': 0, 'key': '23'},
  {'value': 1274, 'data_year': 2006, 'month_num': 0, 'key': '23'},
  {'value': 1163, 'data_year': 2007, 'month_num': 0, 'key': '23'},
  {'value': 1214, 'data_year': 2008, 'month_num': 0, 'key': '23'},
  {'value': 1261, 'data_year': 2009, 'month_num': 0, 'key': '23'},
  {'value': 1247, 'data_year': 2010, 'month_num': 0, 'key': '23'},
  {'value': 1187, 'data_year': 2011, 'month_num': 0, 'key': '23'},
  {'value': 1263, 'data_year': 2012, 'month_num': 0, 'key': '23'},
  {'value': 1430, 'data_year': 2013, 'month_num': 0, 'key': '23'},
  {'value': 1527, 'data_year': 2014, 'month_num': 0, 'key': '23'},
  {'value': 1448, 'data_year': 2015, 'month_num': 0, 'key': '23'},
  {'value': 1357, 'data_year': 2016, 'month_num': 0, 'key': '23'},
  {'value': 1138, 'data_year': 2017, 'month_num': 0, 'key': '23'},
  {'value': 967, 'data_year': 2018, 'month_num': 0, 'key': '23'},
  {'value': 1074, 'data_year': 2000, 'month_num': 0, 'key': '24'},
  {'value': 1244, 'data_year': 2001, 'month_num': 0, 'key': '24'},
  {'value': 1188, 'data_year': 2002, 'month_num': 0, 'key': '24'},
  {'value': 1168, 'data_year': 2003, 'month_num': 0, 'key': '24'},
  {'value': 1162, 'data_year': 2004, 'month_num': 0, 'key': '24'},
  {'value': 1126, 'data_year': 2005, 'month_num': 0, 'key': '24'},
  {'value': 1190, 'data_year': 2006, 'month_num': 0, 'key': '24'},
  {'value': 1152, 'data_year': 2007, 'month_num': 0, 'key': '24'},
  {'value': 1087, 'data_year': 2008, 'month_num': 0, 'key': '24'},
  {'value': 1173, 'data_year': 2009, 'month_num': 0, 'key': '24'},
  {'value': 1138, 'data_year': 2010, 'month_num': 0, 'key': '24'},
  {'value': 1112, 'data_year': 2011, 'month_num': 0, 'key': '24'},
  {'value': 1102, 'data_year': 2012, 'month_num': 0, 'key': '24'},
  {'value': 1255, 'data_year': 2013, 'month_num': 0, 'key': '24'},
  {'value': 1354, 'data_year': 2014, 'month_num': 0, 'key': '24'},
  {'value': 1396, 'data_year': 2015, 'month_num': 0, 'key': '24'},
  {'value': 1410, 'data_year': 2016, 'month_num': 0, 'key': '24'},
  {'value': 1120, 'data_year': 2017, 'month_num': 0, 'key': '24'},
  {'value': 924, 'data_year': 2018, 'month_num': 0, 'key': '24'},
  {'value': 4450, 'data_year': 2000, 'month_num': 0, 'key': '25-29'},
  {'value': 4454, 'data_year': 2001, 'month_num': 0, 'key': '25-29'},
  {'value': 4418, 'data_year': 2002, 'month_num': 0, 'key': '25-29'},
  {'value': 4078, 'data_year': 2003, 'month_num': 0, 'key': '25-29'},
  {'value': 3841, 'data_year': 2004, 'month_num': 0, 'key': '25-29'},
  {'value': 4219, 'data_year': 2005, 'month_num': 0, 'key': '25-29'},
  {'value': 4638, 'data_year': 2006, 'month_num': 0, 'key': '25-29'},
  {'value': 4457, 'data_year': 2007, 'month_num': 0, 'key': '25-29'},
  {'value': 4406, 'data_year': 2008, 'month_num': 0, 'key': '25-29'},
  {'value': 4486, 'data_year': 2009, 'month_num': 0, 'key': '25-29'},
  {'value': 4411, 'data_year': 2010, 'month_num': 0, 'key': '25-29'},
  {'value': 4231, 'data_year': 2011, 'month_num': 0, 'key': '25-29'},
  {'value': 4243, 'data_year': 2012, 'month_num': 0, 'key': '25-29'},
  {'value': 4479, 'data_year': 2013, 'month_num': 0, 'key': '25-29'},
  {'value': 4819, 'data_year': 2014, 'month_num': 0, 'key': '25-29'},
  {'value': 5116, 'data_year': 2015, 'month_num': 0, 'key': '25-29'},
  {'value': 5964, 'data_year': 2016, 'month_num': 0, 'key': '25-29'},
  {'value': 4968, 'data_year': 2017, 'month_num': 0, 'key': '25-29'},
  {'value': 4635, 'data_year': 2018, 'month_num': 0, 'key': '25-29'},
  {'value': 3040, 'data_year': 2000, 'month_num': 0, 'key': '30-34'},
  {'value': 3127, 'data_year': 2001, 'month_num': 0, 'key': '30-34'},
  {'value': 3210, 'data_year': 2002, 'month_num': 0, 'key': '30-34'},
  {'value': 2866, 'data_year': 2003, 'month_num': 0, 'key': '30-34'},
  {'value': 2722, 'data_year': 2004, 'month_num': 0, 'key': '30-34'},
  {'value': 2787, 'data_year': 2005, 'month_num': 0, 'key': '30-34'},
  {'value': 2840, 'data_year': 2006, 'month_num': 0, 'key': '30-34'},
  {'value': 2828, 'data_year': 2007, 'month_num': 0, 'key': '30-34'},
  {'value': 2884, 'data_year': 2008, 'month_num': 0, 'key': '30-34'},
  {'value': 2952, 'data_year': 2009, 'month_num': 0, 'key': '30-34'},
  {'value': 3164, 'data_year': 2010, 'month_num': 0, 'key': '30-34'},
  {'value': 2879, 'data_year': 2011, 'month_num': 0, 'key': '30-34'},
  {'value': 3005, 'data_year': 2012, 'month_num': 0, 'key': '30-34'},
  {'value': 3357, 'data_year': 2013, 'month_num': 0, 'key': '30-34'},
  {'value': 3314, 'data_year': 2014, 'month_num': 0, 'key': '30-34'},
  {'value': 3435, 'data_year': 2015, 'month_num': 0, 'key': '30-34'},
  {'value': 3801, 'data_year': 2016, 'month_num': 0, 'key': '30-34'},
  {'value': 3151, 'data_year': 2017, 'month_num': 0, 'key': '30-34'},
  {'value': 3154, 'data_year': 2018, 'month_num': 0, 'key': '30-34'},
  {'value': 2605, 'data_year': 2000, 'month_num': 0, 'key': '35-39'},
  {'value': 2555, 'data_year': 2001, 'month_num': 0, 'key': '35-39'},
  {'value': 2477, 'data_year': 2002, 'month_num': 0, 'key': '35-39'},
  {'value': 2252, 'data_year': 2003, 'month_num': 0, 'key': '35-39'},
  {'value': 2014, 'data_year': 2004, 'month_num': 0, 'key': '35-39'},
  {'value': 2075, 'data_year': 2005, 'month_num': 0, 'key': '35-39'},
  {'value': 2256, 'data_year': 2006, 'month_num': 0, 'key': '35-39'},
  {'value': 2154, 'data_year': 2007, 'month_num': 0, 'key': '35-39'},
  {'value': 2246, 'data_year': 2008, 'month_num': 0, 'key': '35-39'},
  {'value': 2281, 'data_year': 2009, 'month_num': 0, 'key': '35-39'},
  {'value': 2092, 'data_year': 2010, 'month_num': 0, 'key': '35-39'},
  {'value': 1904, 'data_year': 2011, 'month_num': 0, 'key': '35-39'},
  {'value': 2034, 'data_year': 2012, 'month_num': 0, 'key': '35-39'},
  {'value': 2081, 'data_year': 2013, 'month_num': 0, 'key': '35-39'},
  {'value': 2216, 'data_year': 2014, 'month_num': 0, 'key': '35-39'},
  {'value': 2333, 'data_year': 2015, 'month_num': 0, 'key': '35-39'},
  {'value': 2748, 'data_year': 2016, 'month_num': 0, 'key': '35-39'},
  {'value': 2444, 'data_year': 2017, 'month_num': 0, 'key': '35-39'},
  {'value': 2294, 'data_year': 2018, 'month_num': 0, 'key': '35-39'},
  {'value': 2273, 'data_year': 2000, 'month_num': 0, 'key': '40-44'},
  {'value': 2117, 'data_year': 2001, 'month_num': 0, 'key': '40-44'},
  {'value': 2212, 'data_year': 2002, 'month_num': 0, 'key': '40-44'},
  {'value': 1969, 'data_year': 2003, 'month_num': 0, 'key': '40-44'},

In [8]:
# loop over all lookup values and aggregate full results

results_ls = []

for idx_off, row_off in offense_df.iterrows():
    offense = row_off['offense_type']
    print(offense)
    
    for idx_stt, row_stt in state_df.iterrows():
        state = row_stt['state_abbr']
        
        # get the counts for males
        
        config = {
            '{stateAbbr}': state,
            '{offense}': offense,
            '{variable}': 'male',   
            '{since}': YEAR_SINCE,
            '{until}': YEAR_UNTIL,
        }
        result = ch.get_json(ch.ARREST_TKM_STATE_OFFENSE, config)
        
        if 'data' in result:       
            for res in result['data']:
                new_dx = {
                    'state': state,
                    'offense': offense,
                    'year': res['data_year'],
                    'gender': 'male', 
                    'age': res['key'],
                    'count': res['value'],
                }
                results_ls.append(new_dx)
        
        else:
            print(f'no data: {state} {offense} male')
        
        # get the counts for females
        
        config = {
            '{stateAbbr}': state,
            '{offense}': offense,
            '{variable}': 'female',   
            '{since}': YEAR_SINCE,
            '{until}': YEAR_UNTIL,
        }
        result = ch.get_json(ch.ARREST_TKM_STATE_OFFENSE, config)
        
        if 'data' in result:
            for res in result['data']:
                new_dx = {
                    'state': state,
                    'offense': offense,
                    'year': res['data_year'],
                    'gender': 'female', 
                    'age': res['key'],
                    'count': res['value'],
                }
                results_ls.append(new_dx)

        else:
            print(f'no data: {state} {offense} female')

        #break

results_ls[:5]

aggravated-assault
arson
burglary
curfew
disorderly-conduct
dui
drug-grand-total
drunkenness
embezzlement
forgery
fraud
gambling-total

KeyError: 'data'

## Create DataFrame from API

In [ ]:
endpoint_df = pd.DataFrame(results_ls)
endpoint_df = endpoint_df.sort_values(['state', 'year', 'offense', 'gender'])
endpoint_df.head(10)
endpoint_df.info()

In [ ]:
# no duplicates in this endpoint

doop_df = endpoint_df.loc[endpoint_df.duplicated(subset=['state', 'year', 'offense', 'gender', 'age'], keep=False) == True]
doop_df.head()

In [ ]:
# group the different ages into one count

endpoint_age_df = endpoint_df.groupby(['state', 'year', 'gender', 'offense']).sum()
endpoint_age_df = endpoint_age_df.reset_index()
endpoint_age_df.head(30)

## Export to csv

In [ ]:
save_path = r'data/arrest_tkm_state.csv'
endpoint_age_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e6, 2)} mb'