# CDE - Explore Endpoints

In [3]:
import os
import pandas as pd

import crime_helper as ch

In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_colwidth', -1)

## Import Data

In [5]:
# load the lookup data

STATE = 'data/state.csv'
OFFENSE_SHORT = 'data/offense_short.csv'
YEAR_SINCE = 2010
YEAR_UNTIL = 2011
AGENCY = 'data/agency.csv'

In [6]:
state_df = pd.read_csv(STATE)
state_df.head()

   region_code state_abbr  state_fips_code  state_id      state_name
0  4            AK         2.0              1         Alaska
1  3            AL         1.0              2         Alabama
2  3            AR         5.0              3         Arkansas
3  99           AS         60.0             4         American Samoa
4  4            AZ         4.0              5         Arizona

In [36]:
agency_df = pd.read_csv(AGENCY)
agency_array = (agency_df.ori.to_list())

In [5]:
offense_df = pd.read_csv(OFFENSE_SHORT)
offense_df.head()

          offense_type
0  aggravated-assault
1  burglary
2  larceny
3  motor-vehicle-theft
4  homicide

In [11]:
# examine data for a random row

random_state = state_df.loc[10]['state_abbr']
# random_offense = offense_df.loc[4]['offense_type']
random_state
# random_offense
random_ori = agency_df.ori.loc[4]
random_ori

'DE'

'AK0010500'

In [22]:
config = {
    '{ori}': random_ori,
    '{since}': '2018',
    '{until}' : '2018'
    }
employment = ch.get_json(ch.EMPLOYMENT_AGENCY, config)

https://api.usa.gov/crime/fbi/sapi//api/police-employment/agencies/AK0010500/2018/2018
{'count': 1, 'page': 0, 'pages': 1, 'per_page': 0}
page 0: len 1

In [ ]:
for agency in agency_array:

In [28]:
df_emp = pd.DataFrame(employment)
df_emp
# employment[0]

,agency_name_edit,agency_type_name,civilian_ct,csv_header,data_year,female_civilian_ct,female_officer_ct,female_total_ct,male_civilian_ct,male_officer_ct,male_total_ct,ncic_agency_name,ori,pe_ct_per_1000,population,state_abbr,total_pe_ct
0,KODIAK PD,Borough,24,"data_year,ori,state_abbr,agency_name_edit,agency_type_name,ncic_agency_name,civilian_ct,female_civilian_ct,female_officer_ct,female_total_ct,male_civilian_ct,male_officer_ct,male_total_ct,population,police_emp_per_1000,total_pe_ct",2018,11,1,12,13,16,29,KODIAK PD,AK0010500,6.84,5995,AK,41

## Export to csv

In [9]:
save_path = r'data/file_clean.csv'
file_df.to_csv(save_path, index=False)
f'{round(os.path.getsize(save_path) /1e6, 2)} mb'

NameError: name 'file_df' is not defined